!.gitignore
#web/WEB-INF/classes/resources/services/xserviceAvailabilityConfig.xml
web/WEB-INF/classes/resources/services/mapping.librarysystem.xml
.idea
gradle
.gradle
build
src/main/webapp/WEB-INF/classes/resources/services/mapping.librarysystem.xml
