<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

  <display-name>SwissBib external services</display-name>

    <!--
    <servlet>
        <servlet-name>Log4JInitServlet</servlet-name>
        <servlet-class>org.swissbib.utilities.Log4JInitServlet</servlet-class>
        <init-param>
            <param-name>log4j-properties-location</param-name>
            <param-value>WEB-INF/properties/services.log4j.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    -->

    <servlet>
         <servlet-name>AvailabilityRequest</servlet-name>
         <servlet-class>org.swissbib.extern.xSwissBib.AvailabilityRequest</servlet-class>
         <init-param>
             <param-name>librarysystems</param-name>
             <param-value>WEB-INF/classes/resources/services/mapping.librarysystem.xml</param-value>
             <!--<param-value>http://localhost:18080/xSwissBib/services/Circulation/getCirculationStatusRequest</param-value> -->
             </init-param>
             <!--         <init-param>
                         <param-name>proxyAdress</param-name>
                         <param-value>proxy.unibas.ch:3128</param-value>
         </init-param>                                                   -->
         <init-param>
             <param-name>DEBUG</param-name>
             <param-value>true</param-value>
         </init-param>
         <init-param>
             <param-name>showClientFullResponse</param-name>
             <param-value>false</param-value>
         </init-param>
        <init-param>
            <param-name>xserverconfig</param-name>
            <param-value>WEB-INF/classes/resources/services/xserviceAvailabilityConfig.xml</param-value>
        </init-param>

     </servlet>


    <servlet>
        <display-name>ImageTransformer</display-name>
        <servlet-name>ImageTransformer</servlet-name>
        <servlet-class>org.swissbib.extern.xSwissBib.ImageTransformer</servlet-class>
    </servlet>

    <servlet>
        <display-name>ProtocolWrapper</display-name>
        <servlet-name>ProtocolWrapper</servlet-name>
        <servlet-class>org.swissbib.extern.xSwissBib.services.forwarder.ProtocolWrapper</servlet-class>
        <init-param>
            <param-name>ESCAPED_PATTERN</param-name>
            <param-value>ESCAPED_AND_PERCENT</param-value>
        </init-param>
    </servlet>





    <!--


    <servlet>
        <servlet-name>ExternalServicesRedirect</servlet-name>
        <servlet-class>org.swissbib.extern.xSwissBib.ExternalServicesRedirect</servlet-class>
        <init-param>
            <param-name>targetServer</param-name>
            <param-value>localhost:8081</param-value>
        </init-param>
        <init-param>
            <param-name>serviceconfiguration</param-name>
            <param-value>WEB-INF/classes/resources/services/service.configuration.xml</param-value>
            <param-value>http://localhost:18080/xSwissBib/services/Circulation/getCirculationStatusRequest</param-value>
        </init-param>
    </servlet>



    <servlet-mapping>
        <servlet-name>ExternalServicesRedirect</servlet-name>
        <url-pattern>/ExternalServicesRedirect</url-pattern>
    </servlet-mapping>

   -->


    <servlet-mapping>
        <servlet-name>AvailabilityRequest</servlet-name>
        <url-pattern>/AvailabilityRequest</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ImageTransformer</servlet-name>
        <url-pattern>/ImageTransformer</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ProtocolWrapper</servlet-name>
        <url-pattern>/ProtocolWrapper</url-pattern>
    </servlet-mapping>




  <!-- Custom MIME mapping -->
  <mime-mapping>
    <extension>csv</extension>
    <mime-type>text/csv</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>enw</extension>
    <mime-type>application/x-endnote-refer</mime-type>
  </mime-mapping>
 
</web-app>
